include *.rst
include LICENSE
include AUTHORS
include MANIFEST.in
include docs/Makefile
include docs/conf.py
include manage.py
include test_settings.py
recursive-include docs *.rst
recursive-include django_easyfilters/tests *.html
recursive-include django_easyfilters/tests *.json
